# There are a lot of dependency errors when specifying specifying versions, because
# different helper packages for langchain (eg., langchain-text-splitters) have different dependencies. So, we
# just specify the packages and let pip figure out the versions (although it takes a while to install).
fastapi
pydantic
uvicorn
langchain
langchain-community
langchain-text-splitters
langsmith
langchain-ollama
langchain-chroma
pypdf
python-multipart
